
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Hoşgeldin @HttpContext.Current.User.Identity.Name</h5>
                            <p class="mb-4">
                                Yetkiniz <span class="fw-bold">Admin</span> Yetkiniz ile soldaki menüden yönetici hesapları görüntüleyebilir, eczaneleri görüntüleyebilir-silebilir, kayıt olmuş kullanıcıları görüntüleyebilir-silebilirsiniz.
                            </p>
                            <p class="mb-4">
                                Yeni ilaç ekleme ve silme yetkisi sadece sizdedir. Eczanelerin stoğundaki ilaçların kayıtlarını silebilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            -Eczane Yönetim Sistemi
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>