
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>

        <h2> Yetkiniz yoktur </h2>
        <a href="/Urun/Index"> Anasayfa</a>
    </div>
</body>
</html>

